body {
    font-family: "Inter", sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.agegate-body {
    min-height: 100vh;
}

/*top bar */
.topbar {
    height: 72px;
    background: #ffffff;
    border-bottom: 1px solid #e8e8e8;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 0 78px;
}

.back-link {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.22em;
    display: inline-flex;
    align-items: center;
    gap: 14px;
}
.back-link img {
    width: 30px;
    height: 30px;
}
/* page */
.agegate-page {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 56px 24px 80px;
}

.logo {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.28rem;
    color: #000000;
}

.logo-icon {
    display: block;
    width: 123px;
    height: auto;
    margin: 24px auto 0;
}

.hero-title {
    margin: 24px 0 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    flex-wrap: wrap;
}

.handwritten {
    font-family: "Mynerve";
    font-size: 48px;
    line-height: 1;
    color: #78A7BC;
    font-weight: 400;
}

.hero-bold {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 800;
    color: #000000;
}

.welcome-text {
    margin: 28px 0 0;
    font-size: 19px;
    font-weight: 100;
    color: #000000;
}

/* box */
.age-box {
    width: 100%;
    max-width: 705px;
    margin: 38px auto 0;
    border: 2px solid #000000;
    border-radius: 54px;
    padding: 34px 46px 42px;
}

.box-title {
    margin: 0;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 800;
    color: #000000;
}

.box-text {
    margin: 22px 0 0;
    font-size: 17px;
    line-height: 1.4;
    font-weight: 400;
    color: #000000;
}

.age-row {
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    flex-wrap: wrap;
}

.age-input {
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 322px;
    height: 56px;
    border: 2px solid #000000;
    border-radius: 999px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    padding: 0 34px;
}

.age-input::placeholder {
    color: #5E5E5E;
}

.verify-btn {
    min-width: 175px;
    height: 56px;
    border: none;
    border-radius: 999px;
    background: #78A7BC;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.verify-btn:hover {
    background: #a7d4eb;
}