body {
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
    color: #000000;
    background: #ffffff;
}

.navbar {
    height:80px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;

}

.logo {
    font-weight:700;
    letter-spacing: 0.2em;
    font-size: 14px;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #000000;
}

.nav-links a:hover {
    color: #78A7BC;
}

.nav-create-button {
    border: 1px solid #000000;
    padding: 10px 22px;
    border-radius: 999px;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.nav-create-button:hover {
    background: #000000;
    color: #ffffff;
}

/*hero section*/
.hero {
    max-width: 900px;
    margin: 120px auto 80px;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    text-align: center;
    line-height: 1.2;
    margin: 0;
}

.hero p {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #5E5E5E;
}

.main-create-button {
    display: inline-block;
    margin-top: 40px;
    border: 1px solid #000000;
    padding: 14px 40px;
    border-radius: 999px;
    text-decoration: none;
    color: #000000;
}

.main-create-button:hover {
    background-color: #000000;
    color: #ffffff;
}

/*about section*/
.about {
    text-align: center;
    max-width: 800px;
    margin: 120px auto;
}

.section-label {
    font-size: 24px;
    letter-spacing: 0.3rem;
}

.section-title {
    font-size: 46px;
    margin-top: 10px;
    font-family: "Mynerve";
    color: #78A7BC;
}

.about-text {
    margin-top: 30px;
    line-height: 1.6;
    color: #5E5E5E;
}

/*features section*/
.features {
    max-width: 1000px;
    margin: 120px auto;
    text-align: center;
}

.feature-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.feature-box {
    border: 1.5px solid #000000;
    border-radius: 16px;
    padding: 30px;
}

.feature-box h3 {
    font-size: 14px;
    letter-spacing: 0.15em;
}

.feature-box p {
    margin-top: 10px;
    font-size: 14px;
    color: #5E5E5E;
}

/*footer section*/
.create-section {
    text-align: center;
    margin: 140px auto;
    border-top: 1px solid #e6e6e6;
}

.create-section h2 {
    font-size: 40px;
}

.create-section p {
    margin-top: 10px;
    color: #5E5E5E;
}

/*handwritten sketch font*/
.handwritten {
    font-family: "Mynerve";
    color: #78A7BC;
}